/*
  Developer: Joel Rudsberg
  Email: rudsberg@live.se
*/
// My custom bootstrap variables
@import "variables"; // Bootstrap imports
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
//@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
//@import "../node_modules/bootstrap/scss/tables"; // @import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons"; // @import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown"; // @import "../node_modules/bootstrap/scss/button-group";
// @import "../node_modules/bootstrap/scss/input-group";
// @import "../node_modules/bootstrap/scss/custom-forms";
// @import "../node_modules/bootstrap/scss/nav";
// @import "../node_modules/bootstrap/scss/navbar";
// @import "../node_modules/bootstrap/scss/card";
// @import "../node_modules/bootstrap/scss/breadcrumb";
//@import "../node_modules/bootstrap/scss/pagination"; // @import "../node_modules/bootstrap/scss/badge";
// @import "../node_modules/bootstrap/scss/jumbotron";
// @import "../node_modules/bootstrap/scss/alert";
//@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/media"; // @import "../node_modules/bootstrap/scss/list-group";
//@import "../node_modules/bootstrap/scss/close"; // @import "../node_modules/bootstrap/scss/modal";
//@import "../node_modules/bootstrap/scss/tooltip";
//@import "../node_modules/bootstrap/scss/popover"; // @import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/utilities";
//@import "../node_modules/bootstrap/scss/print";
// ========================================================== //

// My custom styles


body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a button {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

a[data-tool-tip] {
  position: relative;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  bottom: 0;
  left: -40px;
  background-color: $footer-color;
  white-space: nowrap;
  font-size: 0.75em;
  padding: 6px 8px;
  color: white;
  border-radius: 7px;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 100%;
}

button {
  border-radius: 20px !important;
  border-width: 2px !important;
  font-weight: 500 !important;

  &:hover {
    transition: all ease-in-out 350ms !important;
    transform: scaleX(1.15) !important;
    cursor: pointer;
  }
}

.info-header {
  min-width: 280px;
  max-width: 520px;
  margin: 15px auto 80px;

  p {
    position: relative;
  }

  p::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -30px;
    height: 2px;
    width: 100px;
    background-color: $button-color;
  }
}

.info-header h2 {
  font-size: 1.9rem;
  font-weight: 600;
}

.info-header p {
  font-weight: 300;
}

.disabled:hover {
  cursor: default;
  transition: none !important;
  transform: none !important;
  background-color: inherit !important;
  border-color: $button-color !important;
  color: black !important;
}
/* ==================== HERO SECTION ==================== */
#hem {
  background-image: url("../img/desktop-reduced.jpg");
  background-repeat: no-repeat;
  /*
  background-size: cover;
  background-attachment: fixed;
  */
  background-attachment: scroll;
  min-height: 100vh;

  button {
    border-color: $button-color;
    color: white;

    &:hover {
      color: black !important;
      background-color: $button-color;
    }
  }

  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }

  .row {
    position: relative;
  }

  .learn-more {
    position: absolute;
    font-size: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 30px;
    //15px;
    p {
      font-size: 16px;
      margin-bottom: 3px !important;
      color: #eee !important;
    }

    a:hover {
      text-decoration: none;
    }

    i {
      color: $button-color;
    }
  }

  .col {
    max-width: 650px;
    position: relative;
    top: -40px;
  }

  .col-sm-12 {
    max-width: 650px;
    position: relative;
    top: -40px;
  }

  .heading {
    font-size: 1.5rem !important;
    font-weight: 600;
    line-height: 1.35;
  }

  a {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.35;
  }

  h1 {
    line-height: 1.5;
    font-size: 1rem;
  }
}
/* ================= Service Section ====================== */

#tjanster {
  background-color: $primary-color;

  .card {
    position: relative;
    max-width: 360px;
    min-height: 261px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    border: 2px $secondary-color solid;

    .card-body {
      position: relative;
    }

    p {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }

    h2 {
      padding-top: 65px;
      font-size: 1.5rem;
      margin-bottom: 15px;
    }

    .container-fa {
      position: absolute;
      top: -40px;
      left: 0;
      right: 0;
      margin: auto;
      display: inline-block;
      width: 95px;
      height: 95px;
      padding: 20px;
      border-radius: 50%;
      background-color: white;
      border: 2px $button-color solid;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
    }
  }

  /*
  .service-item {
    position: relative;
    background-color: $subtle-white;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 8px 5px;
    margin-bottom: 70px;
    border-radius: 8px;
    box-shadow: 7px 7px 15px -10px #a59f9f;

    h2 {
      font-size: 1.5rem;
    }

    .icon {
      position: absolute;
      top: -48px;
      left: 0;
      right: 0;
      margin: auto;
      display: inline-block;
      width: 100px;
      height: 100px;
      padding: 20px;
      border-radius: 50%;
      background-color: white;
      border: 3px $button-color solid;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon:hover {
        background-color: $button-color;
        border: 2px black solid;
        transition: all ease-in-out 350ms;
      }

      i {
        display: inline-block;
      }
    }
  }
  */
}


/* ================== Project Section ====================== */
#uppdrag {
  background-color: $secondary-color;

  blockquote::before {
    content: open-quote;
    font-size: 1.4em;
  }

  blockquote::after {
    content: close-quote;
    font-size: 1.4em;
  }

  .info-header {
    a {
      border-bottom: 1px #4288DC dotted;
      font-weight: 400;

      &:hover {
        color: $button-color;
        text-decoration: none;
        border-bottom: 1px $button-color dotted;
        transition: all ease-in-out 400ms;
      }
    }
  }

  h3 {
    font-size: 2rem;
    font-weight: 600;
  }

  button {
    border-color: $button-color;
    color: $footer-color;
    font-size: 1rem;
    font-weight: 500;

    &:hover {
      color: $button-color;
      background-color: $footer-color;
      border-color: $footer-color;
    }
  }

  .project-text {
    max-width: 430px;
  }

  .project {
    box-shadow: 0 24px 3px -24px #ddd;
  }

  .testimony:not(.last-testimony) {
    box-shadow: 0 24px 3px -24px #ddd;
  }

  .testimony blockquote {
    max-width: 600px;
    margin: 0 auto;
  }

  #testimony {
    box-shadow: none !important;
  }

  .testimony img {
    width: 70px;
    height: 70px;
  }
}

/* ================== About Section ====================== */

#om {
  .info-header {
    margin-bottom: 85px !important;
  }

  img {
    max-width: 280px;
  }

  .profile-container {
    margin: 0 auto !important;
  }
  .about-info {
    margin-bottom: 30px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

    h2 {
      font-size: 1.5rem;
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}





/* ================== Contact Section ====================== */
#kontakt {
  background-color: $contact-color;

  .info-header {
    min-width: 280px;
    max-width: 600;
    margin: auto;
    border-bottom: none;

    h2 {
      font-size: 2.6rem;
      font-weight: 600;
    }

    p {
      font-weight: 350;
      line-height: 1.65;
    }

    button {
      color: #252A30;
      border-color: #252A30;
      width: 170px;

      &:hover {
        background-color: #252A30;
        color: #FED766;
        cursor: pointer;
      }
    }
  }
}
/* ================== Footer Section ====================== */
#footer {
  background-color: $footer-color;

  .row .d-flex {
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
  }

  i {
    color: #A6A8AA;

    &:hover {
      color: white;
      transition: all ease-in-out 300ms;
      transform: scale(1.1);
    }
  }
}
@media (min-width: 400px) {
  .info-header h2 {
    font-size: 2.4rem;
  }
}
@media (min-width: 576px) {
  /*
  h1 {
    font-size: 2rem !important;
    font-weight: 600;
    line-height: 1.35;
  }

  a {
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 1.35;
  }

  h2 {
    line-height: 1.5;
    font-size: 1.1rem;
  }
  */
  #hem {
    .heading {
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.35;
    }

    h1 {
      font-size: 1.35rem;
    }

    a {
      font-size: 1.35rem;
      font-weight: 500;
      line-height: 1.35;
    }
  }

  #kontakt .info-header {
    max-width: 630px;
  }

  #om {
    .about-info {
      max-width: 400px;
    }
  }
}
@media (min-width: 768px) {
  #uppdrag {
    #project-tintin {
      margin-right: auto;
      margin-left: initial;
    }

    #project-dani {
      margin-left: auto;
      margin-right: initial;
    }

    .project-text a,
    .project-text h3,
    .project-text p {
      text-align: left;
    }
  }

  #om {
    .about-info {
      h2 {
        text-align: left;
      }

      p {
        text-align: left;
      }
    }
  }
}
@media (min-width: 992px) {
  #hem {
    background-size: cover;
    background-attachment: fixed;

    .col {
      top: -40px;
    }

    .dark-overlay {
      background-color: rgba(0, 0, 0, 0.65);
    }
  }

  #tjanster {
    .card {
      margin-bottom: 20px;
    }
  }

  #pp-section .title {
    font-size: 1.38rem;
  }

  #om {
    img {
      max-width: 340px;
    }
  }

}
@media (min-width: 1200px) {
  .card:nth-child(odd) {
    left: 40px;
  }

  #tjanster {
    .right {
      left: -40px;
    }
  }

  #om {
    .col-md-6:nth-child(odd) {
      position: relative;
      left: 40px;
    }
    .col-md-6:nth-child(even) {
      position: relative;
      left: -40px;
    }
  }
}
